Repository osvafernandez/harlistas-cubanos: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:check, npm run lint:write

.lintstagedrc.json:

{
	"*.{js,jsx,ts,tsx,json,md}": "npm run format:check",
	"*.{js,jsx,ts,tsx,json}": "npm run lint:write"
}

Format files
  README.md
  postcss.config.js
  src/App.js
  src/App.jsx
  src/components/Contactos.jsx
  src/components/Galeria.jsx
  src/components/Inicio.jsx
  src/components/Navbar.jsx
  src/components/ProximoEvento.jsx
  src/components/Slider.jsx
  src/index.js
  src/index.jsx
  tailwind.config.js
Due: npm run format:check, npm run lint:write

Move images from imgs to assets
  src/assets/images/logo.webp
  src/assets/images/picture-1.jpg
  src/assets/images/picture-2.jpg
  src/assets/images/picture-3.jpg
  src/assets/images/picture-4.jpg
  src/assets/images/picture-5.jpg
  src/assets/images/wide-logo-en.png
Due: none

Move components into their own component folder
  src/App.jsx
  src/components/Contactos/Contactos.jsx
  src/components/Galeria/Galeria.jsx
  src/components/Inicio/Inicio.jsx
  src/components/Navbar.jsx
  src/components/Navbar/Navbar.jsx
  src/components/ProximoEvento/ProximoEvento.jsx
  src/components/Slider/Slider.jsx
  src/components/index.js
  src/index.css
Due: npm run format:check, npm run lint:write

Add CI for workflow with github actions
  .github/workflows/ci.yml
Due: none

update
  package-lock.json
  package.json
  src/App.jsx
  src/components/Contactos/Contactos.jsx
  src/components/Galeria/Galeria.jsx
  src/components/Inicio/Inicio.jsx
  src/components/Navbar/Navbar.jsx
Due: npm run format:check, npm run lint:write

change in footer and reactI
  src/components/Contactos/Contactos.jsx
Due: npm run format:check, npm run lint:write

footer color change
  src/components/Contactos/Contactos.jsx
Due: npm run format:check, npm run lint:write

Gallery changes
  src/assets/images/motos09.jpg
  src/assets/images/motos11.jpg
  src/assets/images/motos15.jpg
  src/assets/images/picture-4.jpg
  src/components/Galeria/Galeria.jsx
  src/components/Inicio/Inicio.jsx
  src/components/Slider/Slider.jsx
Due: npm run format:check, npm run lint:write

readme update
  README.md
Due: npm run format:check

packages updated
  package-lock.json
Due: npm run format:check, npm run lint:write

home component updated
  src/assets/IA Generated photos/fotor-ai-20230810115147.jpg
  src/components/Inicio/Inicio.jsx
Due: npm run format:check, npm run lint:write

actualizados componentes
  src/components/Inicio/Inicio.jsx
  src/components/ProximoEvento/ProximoEvento.jsx
Due: npm run format:check, npm run lint:write

app update
  src/App.jsx
Due: npm run format:check, npm run lint:write

try change
  public/index.html
Due: none
